@media only screen and (min-width: 635px) and (max-width: 1000px) {
    #index{
        display:flex;
        flex-direction:row;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
    }
    #index .city{
        width: calc(100% - 15px);
        box-shadow: 0 5px 8px -2px;
        display: flex;
    }
    #index .city .city-content{
        display: flex;
    }
    #index .city:nth-child(odd) .city-content{
        flex-direction: row-reverse;
    }
    #index .city .city-body,  #index .city .city-events{
        flex: 50%;
    }
    #index .city img{
        width: 50%;
    }
}