@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;300;400;500;600&display=swap');
@import url('variables.css');

html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    font-family: 'Anek Telugu', sans-serif;
}

/*  Header  */

header {
    width: calc(100vw - 30px);
    background: var(--satin-sheen-gold);
    color: white;
    font-weight: 500;
    display: flex;
    padding: 15px;
    justify-content: center;
}

/* Nav */

nav {
    width: 100vw;
    background: var(--prussian-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav li a {
    display: block;
    padding: 15px 15px 15px 15px;
    color: white;
}

nav li.active a {
    background-color: var(--timberwolf);
    color: var(--prussian-blue);
}

nav li a:hover {
    background-color: var(--timberwolf);
    color: var(--prussian-blue);
}

/*  Main */
main {
    width: 90vw;
    min-height: 75vh;
    padding: 15px 15px;
    margin: 0 auto;
}

main .page-title {
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: .1em;
    margin: 10px 0 20px;
}

main .page-title span {
    background-color: white;
    padding: 0 10px;
}

main #hero-section .hero {
    width: 100%;
    height: 35vh;
    position: relative;
    overflow: hidden;
    background: url("../images/preston-id.jpeg");
    background-size: cover;
    background-position: center bottom;
}

main #hero-section .info {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main #hero-section .info .weather-icon {
    padding: 15px 20px 0px 20px;
}

main #hero-section .info .weather-icon img {
    width: 30px;
    height: 30px;
    background-color: var(--satin-sheen-gold);
    display: none;
    border-radius: 50px;
}

main #hero-section .info .weather-icon h3 {
    display: inline-block;
    margin-bottom: 10px;
}

main #hero-section .show-weather {
    width: 100%;
    margin: 0;
    padding: 0;
}


main #hero-section .info ul li {
    padding: 5px 10px;
    width: calc(100% - 20px);
}

main #hero-section .infoul li * {
    display: inline-block;
}

main #hero-section .info ul li:first-of-type {
    border-top: 1px solid black;
}

main #hero-section .info ul li:not(:last-of-type) {
    border-bottom: 1px solid black;
}


/*  Forecast Articles */

main #forecast-articles{
    display: flex;
    flex-direction: column;
}
/* Forecast */
main .forecast {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

main .forecast .forecast-day {
    box-shadow: 0px 0px 2px black;
    flex: 1;
}

main .forecast .forecast-day .day {
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
    background-color: var(--satin-sheen-gold);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .forecast .forecast-day .day img {
    height: 35px;
    display: none;
}

main .forecast .forecast-day .day p {
    margin-top: 5px;
}

main .forecast .forecast-day ul li {
    padding: 5px 10px;
}

main .forecast .forecast-day ul li * {
    display: inline-block;
}

main .forecast .forecast-day ul li:first-of-type {
    border-top: 1px solid black;
}

main .forecast .forecast-day ul li:not(:last-of-type) {
    border-bottom: 1px solid black;
}

/*  Articles */

main .articles {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}
main .articles .article {
    box-shadow: 0px 0px 2px black;
    flex: 1;
}
main .articles .article .article-content img{
    float: right;
    margin-right: 1rem;
}

main .articles .article h3 {
    font-weight: 500;
    padding: 10px 10px 5px 10px;
    text-align: center;
    background-color: var(--satin-sheen-gold);
    color: white;
}

main .articles .article p {
    padding: 15px 5px 10px 5px;
}

/* Footer */

footer {
    width: 100vw;
    background: var(--satin-sheen-gold);
    color: white;
    font-weight: 500;
}

footer #footer-widgets {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

footer #footer-widgets .widget {
    flex: 1;
}

footer #footer-bar {
    text-align: center;
}

footer #footer-bar a {
    color: rgb(247, 233, 233);
    font-weight: 300;
}