@import url('../../variables.css');
@import url('index-small.css');
@import url('index-medium.css');
@import url('index-large.css');

#index {
    display: flex;
    flex-wrap: wrap;
}

#index .city{

    background-color: #f1f1f1;
}
#index .city .city-body{
    width: 100%;
    padding: 10px;
}

#index .city .city-body h2{
    color: var(--prussian-blue);
    text-align: center;
    font-size: 24pt;
}

#index .city .city-body p{
    color: var(--prussian-blue);
    text-align: center;
    font-size: 14pt;
}

#index .city .city-body ul li{
    margin-top: 15px;
}