@media only screen and (min-width: 1001px) {
    #gallery picture {
        min-width: calc(100% / 3 - 10px);
        max-width: calc(100% / 3 - 10px);
    }
    #gallery picture img:hover {
        box-shadow: 0 0 5px black;
    }
}